---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Great%20Pyramid%20of%20Giza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"76491632","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"4420397","boundingbox":["29.9781249","29.9801279","31.1330737","31.1354031"],"lat":"29.9791264","lon":"31.1342383751015","display_name":"Great
        Pyramid of Giza, Cause way, Nazlet Al Siman and Al Sisi, Kom al Akhdar, Giza,
        Giza Governorate, 12561, Egypt","class":"tourism","type":"attraction","importance":0.97861371244118,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"}]'
  recorded_at: Tue, 10 Sep 2019 17:54:08 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Hanging%20Gardens%20of%20Babylon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Unable to geocode"}'
  recorded_at: Tue, 10 Sep 2019 17:54:08 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Colossus%20of%20Rhodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 17:54:08 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Pharos%20of%20Alexandria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 17:54:09 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Statue%20of%20Zeus%20at%20Olympia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"50523958","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"3988791718","boundingbox":["37.6378588","37.6379588","21.6299563","21.6300563"],"lat":"37.6379088","lon":"21.6300063","display_name":"Statue
        of Zeus at Olympia, \u0395\u039f74, Ancient Olympia, Ancient Olympia Municipality,
        Elis Regional Unit, West Greece Region, Peloponnese, West Greece and Ionian
        Sea, 27065, Greece","class":"tourism","type":"artwork","importance":0.88151155186229,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/tourist_art_gallery2.p.20.png"}]'
  recorded_at: Tue, 10 Sep 2019 17:54:09 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Temple%20of%20Artemis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"69215418","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"5919442848","[...]
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Mausoleum%20at%20Halicarnassus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 17:54:09 GMT
recorded_with: VCR 5.0.0
