---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Great%20Pyramid%20of%20Giza
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"76491632","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"4420397","boundingbox":["29.9781249","29.9801279","31.1330737","31.1354031"],"lat":"29.9791264","lon":"31.1342383751015","display_name":"Great
        Pyramid of Giza, Cause way, Nazlet Al Siman and Al Sisi, Kom al Akhdar, Giza,
        Giza Governorate, 12561, Egypt","class":"tourism","type":"attraction","importance":0.97861371244118,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"}]'
  recorded_at: Tue, 10 Sep 2019 18:15:03 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Hanging%20Gardens%20of%20Babylon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Unable to geocode"}'
  recorded_at: Tue, 10 Sep 2019 18:15:03 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Colossus%20of%20Rhodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"23194877","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"2363415795","boundingbox":["36.3396576","36.3397576","28.2002664","28.2003664"],"lat":"36.3397076","lon":"28.2003164","display_name":"Colossus,
        \u039a\u03b1\u03bb\u03bb\u03b9\u03b8\u03ad\u03b1\u03c2, Faliraki, \u0394\u03ae\u03bc\u03bf\u03c2
        \u03a1\u03cc\u03b4\u03bf\u03c5, Rhodes Regional Unit, South Aegean Region,
        Aegean, 85100, Greece","class":"amenity","type":"bar","importance":0.211,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/food_bar.p.20.png"}]'
  recorded_at: Tue, 10 Sep 2019 18:15:04 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Pharos%20of%20Alexandria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"145210117","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"255811087","boundingbox":["30.9478905","30.9480211","29.5234869","29.5236384"],"lat":"30.94795585","lon":"29.5235626430011","display_name":"Pharos
        of Abusir, North Coast Road, Km 110, Matrouh Governorate, Egypt","class":"historic","type":"archaeological_site","importance":0.40108919297929,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/tourist_archaeological2.p.20.png"}]'
  recorded_at: Tue, 10 Sep 2019 18:15:04 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Statue%20of%20Zeus%20at%20Olympia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 18:15:04 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Temple%20of%20Artemis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 18:15:04 GMT
- request:
    method: get
    uri: https://us1.locationiq.org/v1/search.php?format=json&key=<LOCATION_IQ_TOKEN>&q=Mausoleum%20at%20Halicarnassus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"Rate Limited Second"}'
  recorded_at: Tue, 10 Sep 2019 18:15:04 GMT
recorded_with: VCR 5.0.0
